color_primary = #0078C4
color_accent = #FFE545
color_primary_dark = darken(color_primary, 20%)

body
	padding-top 20px

.primary-bg
	background color_primary

.dark-primary-bg
	background color_primary_dark

table td.min-width-160
	min-width 160px

#topbar

	h2
		margin 0
		padding 0

	.pull-right
		float right

	.years
		text-align center

	.song-info
		.song-name, .song-album
			text-align center

		.song-album
			padding-bottom 10px

	.progress-wrapper
		position relative

		.playhead
			position absolute
			left 0
			top 0
			height 20px
			width 4px
			background #444
			display none

		.progress
			margin 0 50px

		.elapsed
			float left

		.duration
			float right

	.pagination
		margin 0
		margin-top 20px

	.center-player
		padding 10px 0

	.center-player-controls
		text-align center
		padding-top 21px

		.btn
			font-size 2em

#loadingWidget
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background rgba(0,0,0, 0.7)

	.loadingContent
		background white
		box-sizing content-box
		width 128px
		padding 30px 30px 25px 30px
		position absolute
		top 50%
		left 50%
		margin-left -104px
		margin-top -92px
		border-radius 20px

		p
			text-align center
			margin 0
			padding 0
			font-style italic
			color gray

			img
				margin-bottom 30px
				display block


.show-description
	p
		margin 0
		padding 0

.reviews
	list-style none
	padding 0

	li
		list-style none
		margin-bottom 30px

	h4
		small
			float right
			padding-top 2px

	cite
		font-style italic

	blockquote
		border 0
		padding 0
		margin 0

footer
	margin-top 50px

	p
		text-align center
		margin 0
		padding 0

.block
	display block

a.block
	padding 8px

.table > tbody > tr > td.nopadding
	padding 0

.dropdown-menu > li
	& > a
		white-space normal
		border-bottom 1px #ddd solid
		padding-top 7px
		padding-bottom 7px

	&:last-child a
		border-bottom 0
