.row
	.col-xs-12
		h1 About
		p This site was built by 
			a(href='http://alecgorge.com') Alec Gorge
			| . He also built 
			a(href='http://alecgorge.com/phish') PhishOD
			| , the 
			a(href='http://alecgorge.com/dead') Listen to the Dead iOS App
			| , and helps out over at 
			a(href='http://phish.in') phish.in
			| . Alec loves live music and he was disappointed that were weren't sites like 
			a(href='http://phish.in') phish.in
			|  or 
			a(href='http://phishtracks.com') phishtracks.com
			|  for Lotus, Marco Benevento and STS9.
		p He spent many hours listening to them in the 
			| Live Music Archives of 
			a(href='http://archive.org') archive.org
			|  and figured there had to be a better way so he built a few websites (iOS apps coming soon!):
		ul
			li
				a(href='//lotusod.com') LotusOD.com
			li
				a(href='//marcoallday.com') MarcoAllDay.com
			li
				a(href='//sts9od.com') STS9OD.com
		p All the music that you stream comes from 
			a(href='http://archive.org') archive.org
			| .

		h3 Donations
		p Do not donate to me. This is a labor of love. Please 
			a(href='https://archive.org/donate/') donate everything to archive.org
			| . I merely reorganized the data to make it more easily consumable.
		p None of this is possible without the countless hours of hard work by the archive.org volunteers.

		h3 Contact
		p This site was developed by 
			a(href='//alecgorge.com') Alec Gorge
			| . You can find him at 
			a(href='//twitter.com/alecgorge') @alecgorge
			| , 
			a(href='http://phish.net/user/alecgorge') phish.net
			| , 
			a(href='//last.fm/user/alecgorge') Last.FM
			|  and 
			a(href='//github.com/alecgorge') GitHub
			| .

		h3 Colonphon
		p This site is hosted at 
			a(href='http://ovh.com') OVH
			|  and is built with Angular.js, Node.js, Express, Jade, Stylus, Grunt, jQuery and Phish.
