doctype
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js(ng-app='percival')
	//<![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title {{title}} – {{$root.config.name}}
		meta(name='description', content='')
		meta(name='fragment', content='!')
		base(href='/')
		//- meta(name='viewport', content='width=device-width, initial-scale=1')
		// Place favicon.ico and apple-touch-icon.png in the root directory

		// build:css styles/bootstrap.css
		//- link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
		//- link(href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css", rel="stylesheet")
		// endbuild

		// build:css(.tmp) styles/main.css
		link(rel="stylesheet", href="styles/bootstrap-sortable.css")
		link(rel="stylesheet", href="styles/bootstrap.css")
		link(rel="stylesheet", href="styles/bootstrap-theme.css")
		link(rel="stylesheet", href="styles/percival.css")
		// endbuild
	
	body
		//if lt IE 7
			p.browsehappy
				| You are using an <strong>outdated</strong> browser.
				| Please <a href="http://browsehappy.com/">upgrade your browser</a>
				| to improve your experience.

		// if lt IE 9
			script(src='bower_components/es5-shim/es5-shim.js')
			script(src='bower_components/json3/lib/json3.min.js')

		//- include blocks/topbar

		.container-fluid
			.row
				.col-sm-2
					include blocks/sidebar
				.col-sm-10#content
					include blocks/player
					.container-fluid(ng-view='').innerContent
						block content

		#loadingWidget(loading-widget)
			.loadingContent
				p
					img(alt='Loading Content', src='images/running-dog.gif')
					| Fetching...

		footer
			.container
				.row-xs-12.well
					p Site by Alec Gorge. Music streamed from archive.org. 
						a(href='/about') More info
						| .

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="bower_components/jquery/jquery.min.js"><\/script>')
		
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.js')
		script.
			if(!window.angular) {
				document.write('<script src="bower_components/angular/angular.min.js"><\/script>')
				document.write('<script src="bower_components/angular-route/angular-route.min.js"><\/script>')
			}

		script(src='configure.js')

		// build:js scripts/deps.js
		script(src='bower_components/angulartics/dist/angulartics.min.js')
		script(src='bower_components/angulartics/dist/angulartics-google-analytics.min.js')
		script(src='bower_components/angular-sanitize/angular-sanitize.js')
		script(src='bower_components/angular-audio-playlist/dist/angular-audio-player.js')
		script(src='bower_components/momentjs/moment.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='scripts/bootstrap-sortable.js')
		// endbuild

		// build:js(.tmp) scripts/scripts.js
		script(src='scripts/angular-static-seo.js')
		script(src='scripts/config.js')
		script(src='scripts/app.js')
		script(src='scripts/filters.js')
		script(src='scripts/controllers/main.js')
		script(src='scripts/controllers/home.js')
		script(src='scripts/controllers/year.js')
		script(src='scripts/controllers/show.js')
		script(src='scripts/controllers/venues.js')
		script(src='scripts/controllers/search.js')
		// endbuild 
