.row
	.col-xs-12
		h1 Shows at {{venue.name}} 
			small {{venue.city}}

		ol.breadcrumb
			li
				a(href='/') {{$root.config.artist_name}}
			li
				a(href='/venues') Venues
			li.active {{venue.name}}
		table.table.table-striped.table-hover.sortable
			thead
				th(data-defaultsort='asc') Date
				th Tracks
				th Duration
				th Avg. Rating
				th Reviews
			tbody
				tr(ng-repeat="show in venue.shows")
					td(data-value="{{show.date}}").nopadding
						a(href='/years/{{show.year}}/shows/{{show.display_date}}').block {{show.display_date}}
					td(data-value="{{show.track_count}}") {{show.track_count}}
					td(data-value="{{show.duration}}") {{show.duration | humanizeTime:true}}
					td(data-value="{{show.average_rating}}") {{show.average_rating}}
					td(data-value="{{show.reviews_count}}") {{show.reviews_count}}
