#topbar
	//- .primary-bg
	.container
		nav.navbar.navbar-default
			.row(ng-controller="player")#player_controller
				.col-xs-3
					.navbar-header
						.navbar-brand
							h2
								a(href='#!/') {{$root.config.name}}
				.col-xs-6
					.center-player
						.song-info(ng-show="show")
							.song-name {{show.tracks[audioPlayer.currentTrack - 1].title}}
							.song-album
								a(href='#!/years/{{show.year}}/shows/{{show.display_date}}') {{show.display_date | formatDate: "MM-DD-YYYY"}}
								|  — 
								a(href='#!/venues/{{show.venue.id}}') {{show.venue.name}}, {{show.venue.city}}
						.progress-wrapper(ng-show="show")
							span.elapsed {{ audioPlayer.formatTime }}
							span.duration {{ audioPlayer.formatDuration }}
							.progress
								.progress-bar(role='progressbar', aria-valuemin="0", aria-valuemax="0", ng-style="{ width: audioPlayer.currentTime*100/audioPlayer.duration + '%' }")
								span#playhead.playhead
				.col-xs-3
					audio(player-control="audioPlayer", playlist="audioPlaylist", audio-player)
					.center-player-controls(ng-show="show")
						.btn(ng-click="audioPlayer.prev()")
							span.glyphicon.glyphicon-backward
						.btn(ng-click="audioPlayer.playPause()")
							span.glyphicon(ng-class="{ 'glyphicon-pause': audioPlayer.playing, 'glyphicon-play': !audioPlayer.playing }")
						.btn(ng-click="audioPlayer.next()")
							span.glyphicon.glyphicon-forward
		.row
			.col-xs-12
				.pull-right.col-xs-4(ng-controller="search")
					form(role='form', ng-submit="search()").form-inline
						.form-group
							label(for='q').sr-only Search
							.input-group
								input(type='search', id='q', ng-model='q', value='{{q}}', placeholder='Search...')#search.form-control
								span.input-group-addon
									a(href='#').glyphicon.glyphicon-search
						button(type="submit").btn.btn-default.sr-only Search
				ul.nav.nav-tabs
					li(ng-class="{active: $root.isActive('/')}")
						a(href='#!/') Years
					li(ng-class="{active: $root.isActive('/venues')}")
						a(href='#!/venues') Venues
					li(ng-class="{active: $root.isActive('/about')}")
						a(href='#!/about') About
		//- .row
			//- .col-sm-2
			//- 	p Venues
			//- .col-xs-12(ng-controller='years').years
				//- ul.pagination
					//- li(ng-repeat='year in years')
						//- a(href='#!/years/{{year.year}}') {{year.year}}
			//- .col-sm-2
			//- 	p Search
