
<div class="row">
  <div class="col-xs-12">
    <h1>{{year.year}} <small>{{year.shows.length}} shows, {{year.duration | formatSeconds:'hours' | round:2}} hours</small></h1>
    <ol class="breadcrumb">
      <li><a href="#!/">{{$root.config.artist_name}}</a></li>
      <li class="active">{{year.year}}</li>
    </ol>
    <table class="table table-striped table-hover sortable">
      <thead>
        <th data-defaultsort="asc">Date</th>
        <th>Sources</th>
        <th>Duration</th>
        <th>Avg. Rating</th>
        <th>Reviews</th>
        <th>SBD</th>
        <th>Venue</th>
      </thead>
      <tbody>
        <tr ng-repeat="show in year.shows">
          <td data-value="{{show.date}}" class="nopadding min-width-160"><a href="#!/years/{{show.year}}/shows/{{show.display_date}}" class="block">{{show.display_date}}</a></td>
          <td data-value="{{show.recording_count}}">{{show.recording_count}}</td>
          <td data-value="{{show.duration}}">{{show.duration | humanizeTime:true}}</td>
          <td data-value="{{show.average_rating}}">{{show.average_rating}}</td>
          <td data-value="{{show.reviews_count}}">{{show.reviews_count}}</td>
          <td data-value="{{show.is_soundboard}}">{{show.is_soundboard | humanizeBoolean}}</td>
          <td data-value="{{show.venue_name}}" class="nopadding"><a href="#!/venues/{{show.VenueId}}" class="block">{{show.venue_name}}, {{show.venue_city}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>